{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "add-module-exports",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "add-module-exports",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    }
  }
}
